{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="app">
    <div class="row">
      <div class="col-xs-12 col-md-6 g-4"  v-for="route in routes">
        <div class="card text-center w-100 h-100" style="width: 18rem;">
          <img v-bind:src="route.image" class="card-img-top" v-bind:alt="route.name" style="max-height: 500px; object-fit: contain;">
          <div class="card-body">
            <h5 class="card-title">[[ route.name ]]</h5>
            <a v-bind:href="'/routes/'+ route.id" class="btn btn-primary stretched-link">more</a>
          </div>
        </div>
      </div>
    </div>
</div>
<script src="{% static "index.js" %}"></script>
{% endblock %}